NEXT_PUBLIC_SUPABASE_URL=https://jlnmfzwezqyjdczxrrcg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ICROJwYXIm8Ge8IeDlOVgg_fPrJgbnx
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impsbm1mendlenF5amRjenhycmNnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMzMzU5OSwiZXhwIjoyMDg4OTA5NTk5fQ.UpAiUCjY5hhuZ1_X1HQxj1AQpz9QPGlzbj-TfBEdyXI
NEXT_PUBLIC_SITE_URL=http://localhost:3000